:root {
  --elevator-left-gap: 60px;
}

body {
  font-family: Arial, sans-serif;
  position: relative;
  height: 1000px;
}
.elevator {
  width: 40px;
  height: 40px;
  background-image: url("../image/icons8-elevator.svg");
  background-size: cover;
  border: 1px solid #000;
  position: absolute;
  transition: top 1s ease-in-out, background-color 0.3s ease;
  top: 560px;
}
#elevator2 {
  left: calc(1 * var(--elevator-left-gap));
}

#elevator3 {
  left: calc(2 * var(--elevator-left-gap));
}

#elevator4 {
  left: calc(3 * var(--elevator-left-gap));
}

#elevator5 {
  left: calc(4 * var(--elevator-left-gap));
}

.elevator.waiting {
  background-color: red;
}
.elevator.arrived {
  background-color: green;
}
.elevator.call {
  background-color: transparent;
}
.floor {
  height: 60px;
  border-bottom: 1px solid #000;
  line-height: 60px;
  text-align: center;
  position: relative;
}
.floor button.btn-elevator-call {
  position: absolute;
  right: 10px;
  color: white;
  background-color: green;
  margin: 20px 0;
  padding: 5px;
  width: 100px;
  border-radius: 7px;
  border: 1px solid;
}
.floor button.waiting {
  background-color: red;
  color: white;
}
.floor button.arrived {
  background-color: transparent;
  border-color: green;
  color: green;
}
